{% extends "layout.html" %}

{% block body %}
    <h1>Register</h1>
    <form method="post" action="/register">
        <label>
            <input type="text" autocomplete="off" autofocus name="name" placeholder="Name">
            <select name="sport">
                <option disabled value="" selected>Sport</option>
                {% for sport in  sports %}
                    <option value="{{ sport }}">{{ sport }}</option>
                {% endfor %}
            </select>
        </label>
        <button type="submit">Register</button>
    </form>
{% endblock %}